# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# VSCode
.vscode/
*.code-workspace
/app/backups/
/backups/
# OS
.DS_Store
Thumbs.db
keys/*
.key
# Project specific
*.db
*.sqlite3
logs/
*.log
*.csv
secrets/
secrets/*
!secrets/.gitkeep  
.zip
